.app {
  text-align: center;
}

.translation-button {
  position: absolute;
  right: 0;
  padding: 4px 4px 0 0;
}

/*
Home Page
*/

#home-page-paragraph {
  background-color: black;
  color: white;
}
