/*
cat-theme.css is used for overrides of existing Aurora CSS class names, or tags.
All component specific CSS lives in the React file with the component. 
*/

body {
  padding-top: 50px;
}

.app {
  text-align: center;
}

/* App header overridden class */
.fixed-top {
  z-index: 998;
}

/* Headers */

/* h1: add green line underneath */
h1.green-divider:after {
  content: " ";
  display: block;
  border-bottom: 2px solid #c7e68c;
  padding-bottom: 12px;
}

h1 {
  padding-bottom: 12px;
}

h2 {
  color: #00565e;
  margin: 0px;
}

h3 {
  margin-top: 12px;
  margin-bottom: 12px;
}

h4 {
  color: #00565e;
  margin-top: 12px;
  margin-bottom: 12px;
}

p {
  margin-top: 12px;
  margin-bottom: 12px;
}

/* Buttons */
.btn-primary {
  background-color: #00565e;
  border-color: #00565e;
}

.btn-primary:hover {
  background-color: #327d78;
  border-color: #327d78;
}

.btn-primary:active {
  background-color: #00565e !important;
}

.btn-primary:focus {
  box-shadow: 0 0 0 0.2rem #009fae;
}

.btn-secondary {
  color: #00565e;
  border-color: #00565e;
}

.btn-secondary:hover {
  background-color: #00565e;
}

.btn-secondary:active {
  background-color: #00565e !important;
}

.btn-secondary:focus {
  box-shadow: 0 0 0 0.2rem #00565e;
}

.btn-danger:focus {
  box-shadow: 0 0 0 0.2rem #009fae;
}

.btn-wide {
  width: 400px;
  margin-bottom: 10px;
}

.centered-buttons {
  text-align: center;
}

.btn-backtotop {
  background-color: white;
}

.btn-backtotop:hover {
  background-color: #00565e;
}

/*
Progess Steps
*/

.step-indicator .steps li {
  text-transform: none;
  width: 20%;
}

/* override color of text in active li*/
.step-indicator .steps li.active {
  color: #00565e;
}

/* override inner and outer cicle colors of active li */
.step-indicator .steps li.active:before {
  border-color: #009fae;
  box-shadow: 0 0 0 0.2rem #c7e68c;
}

/* override checkmark and text color of completed li */
.step-indicator .steps li.complete {
  color: #00565e;
}

/* override circle color of completed li */
.step-indicator .steps li.complete:before {
  border-color: #009fae;
}

/* override line color of completed li to active li */
.step-indicator .steps li.complete + li:after {
  background-color: #009fae;
}

.step-indicator .steps li.complete:before {
  font-family: "Font Awesome 5 Free";
  content: "\f00c";
  font-weight: 900;
}

/* Nav */

.nav-tabs .nav-link:hover,
.nav-tabs .nav-link:focus {
  border-color: transparent transparent #00565e;
}
.nav-tabs .nav-link.disabled {
  color: #00565e;
}
.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  color: #00565e;
  border-color: transparent transparent #00565e;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: #00565e;
}

/* React Bootstrap Modal */
/* ref: https://github.com/shlomiassaf/ngx-modialog/issues/280 */
/* https://github.com/react-bootstrap/react-bootstrap/issues/995 */

.fade.in {
  opacity: 1;
}
.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}

.modal-backdrop .fade .in {
  opacity: 0.5 !important;
}

.modal-backdrop.fade {
  opacity: 0.5 !important;
}

.modal-content {
  border-radius: 10px;
  background-color: #fafafa;
}

.modal-dialog {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) !important;
  min-width: 500px !important;
  max-width: 750px !important;
}

/* visually hidden, but stil accessible */
.visually-hidden {
  /* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility */
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}

.radio-button-hover {
  border: 1px solid transparent;
}

.radio-button-hover:focus-within {
  border: 1px solid #00565e;
}

/* formatting for sizing of drop down menus */
.rrs {
  padding: 0px 6px;
  margin-right: 6px;
  width: calc(100% - 35px);
  float: right;
  margin-bottom: 12px;
}

.rrs__button {
  border: 1px solid #00565e;
  border-radius: 4px;
  resize: none;
  box-shadow: none;
}

/* overriding some of the modal styles */
.modal-header .close {
  padding: 0px;
  margin: 4px 4px;
  font-size: 30px;
}

.modal-body {
  padding-top: 0px;
  padding-bottom: 0px;
}

/* overriding form group bottom margin */
.form-group {
  margin-bottom: 0;
}
