/*
emib.css is used for the Emib.jsx styles that cannot be added inside a const
*/

/* overriding the modal content background color */
.modal-content {
  background-color: #fafafa;
}

.popup-box-checkbox-grid {
  display: -ms-grid;
  display: grid;
  grid-template-columns: 30px auto;
}

.first-checkbox-cell {
  -ms-grid-column: 1;
  -ms-grid-row: 1;
  grid-column: 1;
  grid-row: 1;
}

.second-checkbox-cell {
  -ms-grid-column: 1;
  -ms-grid-row: 2;
  grid-column: 1;
  grid-row: 2;
}

.third-checkbox-cell {
  -ms-grid-column: 1;
  -ms-grid-row: 3;
  grid-column: 1;
  grid-row: 3;
}

.first-description-cell {
  -ms-grid-column: 2;
  -ms-grid-row: 1;
  grid-column: 2;
  grid-row: 1;
}

.second-description-cell {
  -ms-grid-column: 2;
  -ms-grid-row: 2;
  grid-column: 2;
  grid-row: 2;
}

.third-description-cell {
  -ms-grid-column: 2;
  -ms-grid-row: 3;
  grid-column: 2;
  grid-row: 3;
}

.checkbox {
  width: 18px;
  height: 18px;
  margin: 14px 12px 0 0;
}

.checkbox-not-selected {
  background-color: white;
}

.checkbox-selected {
  background-color: #00565e;
}
