/*
emib-tabs.css is used for the EmibTabs.jsx styles that cannot be added inside a const
*/

.emib-tabs-grid {
  display: -ms-grid;
  display: grid;
}

.test-tabs-cell {
  -ms-grid-column: 1;
  grid-column: 1;
}

.notepad-cell {
  -ms-grid-column: 2;
  grid-column: 2;
}
