/*
inbx.css is used for the Inbox.jsx, EmailPreview.jsx, EditTask.jsx and Email.jsx
styles that cannot be added inside a const
*/

.inbox-grid {
  display: -ms-grid;
  display: grid;
  grid-template-columns: 219px auto;
  -ms-grid-columns: 219px auto;
}

.inbox-grid-buttons-cell {
  -ms-grid-column: 1;
  grid-column: 1;
}

.inbox-grid-content-cell {
  -ms-grid-column: 2;
  grid-column: 2;
}

/*
Overriding react component tooltip styles (react-tooltip package)
*/

/* Fixes IE incompatibilities */
.task-tooltip-container-for-ie {
  position: absolute;
  top: 38px !important;
}

/* Fixes IE incompatibilities */
.task-tooltip-content-for-ie {
  width: 410px !important;
}

/* Fixes IE incompatibilities */
.reasons-for-action-tooltip-container-for-ie {
  position: absolute;
  top: 195px !important;
}

/* Fixes IE incompatibilities */
.reasons-for-action-tooltip-content-for-ie {
  width: 325px !important;
}

.__react_component_tooltip {
  padding: 8px 8px;
  border-color: #00565e;
}

.__react_component_tooltip {
  background-color: white;
  color: #00565e;
  border: 0.1em solid #00565e;
}
